
fieldset{
    border:3px solid black;
    display:inline;
    justify-content: center;
}
label,input{
    display:block;
    margin:5px;
    font-size: large;
}
.body{
    position:fixed;
    margin-top:10vw;
    margin-left:35vw;

}